@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Bize Ulaşın";
}

<div class="h2">
    @ViewData["Title"]
</div>

<div class="row">
    <div class="col-12 col-md-6">
        <p>Turgut Özal Bulvarı, TEM Otoyolu Sonu, Ataşehir</p>
        <p>(0216) 415 67 61</p>
        <p>info@sahiplendir.com</p>
    </div>
    <div class="col-12 col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.2558853709875!2d29.125971615413718!3d40.99777217930182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac8af85555555%3A0xf85cc1625e2d0a1b!2zS2FkxLFrw7Z5IEJlbGVkaXllc2kgR2XDp2ljaSBIYXl2YW4gQmFrxLFtZXZp!5e0!3m2!1str!2str!4v1644521352515!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>


@section Scripts {

}