@{
    ViewData["Title"] = "Home Page";
}

<div id="slider" class="row mb-4" style="width:1140px; height: 377px; max-height: 377px; overflow: hidden;">
    @foreach (var banner in ViewBag.Banners as IEnumerable<Banner>)
    {
        <div class="col-12 d-none position-absolute" style="width:1140px; height: 377px; max-height: 377px; overflow: hidden;">
            <img src="@banner.SafeImage" class="w-100" />
        </div>
    }
</div>
<div class="row row-cols-1 row-cols-md-4">
    @foreach (var product in ViewBag.FeaturedProducts as IEnumerable<Product>)
    {
        <partial name="_ProductBoxPartial" model="product" />
    }
</div>
@section Scripts{
    <script>
        $(() => {
            var l = $('#slider div');
            var index = 0;
            switchImage();
            function switchImage() {
                $(l).addClass('d-none');
                $(l[index]).removeClass('d-none');
                index++;
                index %= l.length;
                setTimeout(switchImage, 2000);
            }
        });
    </script>
}

