,
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sahiplendir</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/brands.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/content/images/newlogo.png" style="width:200px;height:46px" />
                    </a>
                </div>
                <div class="py-2 d-flex" style="border-radius: 8px;">
                    <div class="flex-fill  justify-content-between mr-5">
                        <form asp-action="Search" method="get" class="form-inline my-2 my-lg-2">
                            <div class="input-group ml-5">
                                <input type="search" name="keyword" placeholder="Arama" value="@Context.Request.Query["keyword"]" class="form-control" />
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-warning">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <ul class="navbar-nav ml-auto">
                    @await Component.InvokeAsync("UserBar")
                    <li class="nav-item ">
                        <a class="nav-link" target="_blank" href="http://www.facebook.com">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="http://www.instagram.com">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="http://www.twitter.com">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @await Component.InvokeAsync("RayonBar")
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

            @await Component.InvokeAsync("BrandsBar")
        </main>
    </div>

    <footer class="">
        <div class="footer-container">
            <div class="footer">
                <div class="container ">
                    <div class="" style="float: left; width: 25%;">
                        <a asp-controller="Home" asp-action="Contact">İletişim</a>
                    </div>
                    <div class="" style="float: left; width: 25%;">
                        <a asp-controller="Home" asp-action="Index" class="accent-dark">   Sahiplendir.com</a>
                        <ul>
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">Müşteri Hizmetleri</a></li>
                            <li><a href="#">Sipariş Takibi</a></li>
                            <li><a href="#">Mağzalarımız</a></li>
                            <li><a href="#">Yeni Ürünler</a></li>
                            <li><a href="#">İndirimdekiler</a></li>
                            <li><a href="#">Sepetim</a></li>

                        </ul>
                    </div>

                    <div class="" style="float: left; width: 25%; ">

                        <a asp-controller="Home" asp-action="Index" class="accent-dark">   Kategoriler</a>
                        <ul>
                            <li><a href="#">Kedi</a></li>
                            <li><a href="#">Köpek</a></li>
                            <li><a href="#">Kuş</a></li>
                            <li><a href="#">Balık</a></li>
                            <li><a href="#">Tavşan</a></li>
                            <li><a href="#">Hamster</a></li>
                            <li><a href="#">Diğerleri</a></li>

                        </ul>
                    </div>
                    <div class="" style="float: left; width: 25%;">
                        <a asp-controller="Home" asp-action="Index">   Önemli Bilgiler</a>
                        <ul>
                            <li><a href="#">Teslimat Koşulları</a></li>
                            <li><a href="#">Hesap Numaralarımız</a></li>
                            <li><a href="#">Kargo Soruları</a></li>
                            <li><a href="#">Sıkça Sorulan Sorulark</a></li>
                            <li><a href="#">Üyelik Sözleşmesi</a></li>
                            <li><a href="#">Satış Sözleşmesi</a></li>
                            <li><a href="#">Garanti ve İade Koşulları</a></li>
                            <li><a href="#">Gizlilik ve Güvenlik</a></li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!--
        <footer class="border-top footer text-muted py-5">
        <div class="footer-container py-5">
            &copy; 2021 - Sahiplendir - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            -
            <a asp-controller="Home" asp-action="Contact">İletişim</a>
        </div>
       </footer>
     -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
