@model User
@{
    ViewData["Title"] = "Yeni Üyelik";
}

<div class="d-flex flex-column align-items-center justify-content-center p-4">
    <i class="fa fa-user-plus fa-5x"></i>
    <h2>Teşekkürler Sn. @Model.Name</h2>
    <p>Yeni üyelik kaydınız başarıyla oluşturulmuştur.</p>
    <p>E-posta adresinizi ....... doğrulayınız.</p>
</div>