@{
    ViewData["Title"] = "Yeni Üyelik";
}

<div class="d-flex flex-column align-items-center justify-content-center p-4">
    <i class="fa fa-user-plus fa-5x"></i>
    <h2>Teşekkürler</h2>
    <p>E-posta adresinizi başarıyla doğrulanmıştır.</p>
    <p><a asp-action="Login"> Kullanıcı girişi yapmak için tıklayınız.</a> </p>
</div>